[submodule "ihunch_escape/app/predictor/lightweight-human-pose-estimation-3d-demo.pytorch"]
	path = ihunch_escape/app/predictor/lightweight-human-pose-estimation-3d-demo.pytorch
	url = https://github.com/Daniil-Osokin/lightweight-human-pose-estimation-3d-demo.pytorch
